<!doctype html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bigfishtv-turret/4.0.0/turret.min.css" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

<title>Galli CC poll</title>

<div class="container">
  <h1 class="display-title"> Upcoming games </h1>
  <hr/>
  {% if not events %}
    <h1>No upcoming events found </h1>
  {% endif %}
  {% for event in events %}
  <p>
    <h4>{{ event.name }}</h4>
    {{event.date}}
  </p>
  {% for player in players %}
    <label class="control switch">
      <input type="checkbox" name="checkbox_{{player.id}}_{{event.name}}">
      <span class="control-indicator"></span>
      <span class="control-label">{{player.name}}</span>
      </label>
    {% endfor %}
  {% endfor %}
</div>
